@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?a2c2ra");
  src: url("fonts/icomoon.eot?a2c2ra#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?a2c2ra") format("truetype"),
    url("fonts/icomoon.woff?a2c2ra") format("woff"),
    url("fonts/icomoon.svg?a2c2ra#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon", Open Sans, Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif, wingding !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fi-ventilacion:before {
  content: "\e909";
}
.icon-fi-camion-trasteo:before {
  content: "\e906";
}
.icon-fi-sofa:before {
  content: "\e905";
}
.icon-fi-zorra:before {
  content: "\e904";
}
.icon-fi-monitoreo:before {
  content: "\e9014";
}
.icon-fi-eficiencia:before {
  content: "\e9013";
}
.icon-fi-gps:before {
  content: "\e9012";
}
.icon-fi-guarda:before {
  content: "\e9011";
}
.icon-fi-torso:before {
  content: "\e9010";
}
.icon-fi-resguardo:before {
  content: "\e908";
}
.icon-fi-tranquilidad:before {
  content: "\e907";
}
.icon-fi-guacal:before {
  content: "\e903";
}
.icon-fi-caja-embalaje:before {
  content: "\e901";
}
.icon-fi-cinta-embalar:before {
  content: "\e902";
}
.icon-fi-protocolo:before {
  content: "\e900";
}
