

@media (max-width: 768px) {

  .modal-dialog-centered{
    max-width: 95vw;

    .modal-content {

      .modal-header{


      }

      .modal-body {

      }

      .modal-footer {

      }

    }


  }


}

@media (max-width: 768px) and (orientation: landscape) {
  .modal-dialog-centered{
    max-width: 80vw;

    .modal-content {

      .modal-header{


      }

      .modal-body {

      }

      .modal-footer {

      }

    }


  }

}

@media (min-width: 769px) {

  .modal-dialog-centered{
    max-width: 60vw;

    .modal-content {

      .modal-header{


      }

      .modal-body {

      }

      .modal-footer {

      }

    }


  }


}


@media (min-width: 992px) {

  .modal-dialog-centered{
    max-width: 40vw;

    .modal-content {

      .modal-header{


      }

      .modal-body {

      }

      .modal-footer {

      }

    }


  }


}


