.modal-dialog-centered{

  .modal-content {

    .modal-header{

      background-color: #133452;
      border-radius: 1% 1% 10% 10%;

    }

    .modal-body {

    }

    .modal-footer {
      background-color: #133452;
      border-radius: 80% 80% 1% 1%;

    }

  }


}