
.cintaContacto {
  background-color: #006aa4;
  padding: 0.7%;

  &-Contactenos {

    .row {

      align-items: center;


      .cintaContacto-Contactenos-element {
        display: flex;
        justify-content: center;
        padding: 0.5%;
        a {
          i {
            margin: 0.5em;
          }
        }

      }


    }

  }

  &-redesSociales {

    .row {
      div.col-3 {
        text-align: center;
        a {

        }

      }

    }

  }


}

@media (max-width: 768px) {
  .cintaContacto {
    padding: 1.5%;
    .row {
      .cintaContacto-Contactenos {
        .row {
          .cintaContacto-Contactenos-element {
            a {
              font-size: 1.1em;
              i {

              }
            }

          }

        }

      }

      .cintaContacto-redesSociales {
        padding: 2%;
        .row {
          .col-3 {
            a {

            }
          }

        }

      }
    }
  }

}

@media (max-width: 768px) and (orientation: landscape) {
  .cintaContacto {
    padding: 1.5%;
    .row {
      .cintaContacto-Contactenos {
        .row {
          .cintaContacto-Contactenos-element {
            width: 50%;
            a {
              i {

              }
            }

          }

        }

      }

      .cintaContacto-redesSociales {
        .row {
          .col-3 {
            a {

            }
          }

        }

      }
    }
  }

}

@media (min-width: 769px) {
  .cintaContacto {
    .row {
      .cintaContacto-Contactenos {
        .row {
          .cintaContacto-Contactenos-element {
            a {

              i {

              }
            }

          }

        }

      }

      .cintaContacto-redesSociales {
        padding: 5px;
        .row {
          .col-3 {
            a {

            }
          }

        }

      }
    }
  }

}


@media (min-width: 992px) {
  .cintaContacto {
    .row {
      .cintaContacto-Contactenos {
        .row {
          .cintaContacto-Contactenos-element {
            a {
              i {

              }
            }

          }

        }

      }

      .cintaContacto-redesSociales {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        .row {
          .col-3 {
            a {

            }
          }

        }

      }
    }
  }

}
