.ComponentCarousel {

  img {
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
    .container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .row {
        justify-content: flex-end;
        .textCarouselRight {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          padding: 0 4%;

          h1 {
            text-align: end;
          }
          p {
            text-align: justify;
          }
          a {
            margin-right: 1%;

          }

          #a_button {
            background-color: #97c93e !important;
            color: white;
          }

        }
      }
    }
  }
}



@media (max-width: 768px) {
  .ComponentCarousel {
    h3 {
      display: none;
    }


    .overlay {
      .row {

        .textCarouselRight {
          display: flex;
          padding: 0 4%;
          justify-content: center;
          flex-direction: column;
          align-items: center;

          h1 {
            /* text-align: center !important;
            font-size: 1.1rem; */
            display: none;

            .sticky-top {

              .navlogo {
                display: flex;
                align-items: center;
                color: #fff;
                font-size: 1.25rem;
              }

              .filter-green{
                /* filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(170deg) brightness(118%) contrast(119%) !important; */
                filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(22deg) brightness(118%) contrast(119%) !important;
                margin-right: 2%;
              }



              .navbar {
                padding: 0.3px;
                .container-fluid {
                  padding: 5px !important;
                  background-color: rgba(52, 58, 64, 0.57) !important;
                  display: flex;
                  justify-content: space-around;
                  a {

                  }



                  .navbar-toggler {


                  }



                }

              }

            }
          }
          p {
            color:red;
            display: none;
          }
          a {
            display: none;

          }

          button {
            border-radius: 5%;
            background-color: #97c93e24 !important;


          }
        }
      }
    }
  }
}

@media (max-width: 768px) and (orientation: landscape) {

}

@media (min-width: 769px) {


}


@media (min-width: 992px) {


}