.footer-contenedor-fluid {
  background-color: #006aa4;
  border-top: 15px #006094 solid;

  .footerTop {

    div, p, h4, ul {
      margin: 0;
      padding: 0;
    }

    padding-left: 10px;
    padding-right: 10px;

    h4, p {
      color: white;
    }

    h4 {
      padding-bottom: 0.5em;
    }

    hr {
      margin: 3px;
      border-bottom: 1px dotted #2196f354;
      background-color: #ff000000;
      opacity: 5;
    }

    .left, .center, .right {
      padding: 2em;
    }



    .left {

      p {
        text-align: justify;
      }
    }

    .center {


      ul {
        div {
          li {
            a {
              padding: 0.5em 1em;
              display: flex;
              align-items: center;
              i {
                margin-right: 0.5em;

              }
              span {
                font-size: 13.3333px;

              }

            }
          }
        }
      }


    }

    .right {

      ul {
        div {
          li {
            a {
              display: flex;
              align-items: center;
              i {
                width: 40px;
                font-size: 2.5em;
                text-align: center;
                margin-right: 0.5em;
              }
              span {
                font-size: 13.3333px;

              }
            }
          }
        }
      }
    }

  }

  .footerBootom {
    background-color: #086ea5;

    h6, .left, .right  {
      margin: 0;
      padding: 0;
    }

    h6, i {
      display: flex;
      align-items: center;
      color: #0bd2eb;
    }

    h6:hover {

      text-decoration: underline;
    }

    .left {
      display: flex;
      justify-content: center;
      padding: 15px;

      i {
        margin-right: 0.5em;
      }
      h6 {

      }
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 10px;
    padding-right: 10px;

    }

  }

}

@media (max-width: 768px) {
  .footer-contenedor-fluid {

    .footerTop {

      div, p, h4, ul {

      }

      h4, p {

      }

      h4 {

      }

      hr {

      }

      .left, .center, .right {
        padding: 1em;
      }



      .left {

        p {

        }
      }

      .center {


        ul {
          div {
            li {
              a {

                i {


                }
                span {


                }

              }
            }
          }
        }


      }

      .right {

        ul {
          div {
            li {
              a {

                i {

                }
                span {

                }
              }
            }
          }
        }
      }

    }

    .footerBootom {

      h6, .left, .right  {

      }

      h6, i {

      }

      h6:hover {

      }

      .left {


        i {
          font-size: 300%;
        }
        h6 {

        }
      }

      .right {
        padding: 3% 5%;
      }

    }

  }

}