.NavbarDropdown {
  display: flex;
  flex-direction: row;
  align-items: center;

  .nav-item {
    #nav-dropdown, .NavbarDropdown-NavLink {
      color: #fff !important;
      text-transform: uppercase;
      background-color: #ff000000;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    }

  }
}

@media (max-width: 768px) {
  .navbar {
    .container-fluid {
      justify-content: space-between !important;

      a {

      }
      .NavbarDropdown {
        display: none;
      }

      .collapse {

      }

    }

  }


}
