.sticky-top {

  .navlogo {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.25rem;
  }

  .filter-green{
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(22deg) brightness(118%) contrast(119%) !important;

  }

  .logologo {
    margin-right: 2%;
  }



  .navbar {
    padding: 0.3px;
    .container-fluid {
      padding: 5px !important;
      background-color: rgba(52, 58, 64, 0.57) !important;
      display: flex;
      justify-content: space-around;
      a {

      }



      .navbar-toggler {


      }



    }

  }

}



@media (max-width: 768px) {

  .sticky-top {

    .navlogo {

    }

    .filter-green{

    }



    .navbar {

      .container-fluid {
        padding: 5px 15px !important;

        a {

        }



        .navbar-toggler {


        }



      }

    }

  }


}



