.navbar {
  padding: 1px;
  .container-fluid {
    padding: 20px !important;
    background-color: rgba(52, 58, 64, 0.57) !important;
    display: flex;
    justify-content: space-around;
    a {

    }



    .navbar-toggler {


    }



  }

}


@media (min-width: 768px) {


}



