.placeTime-contenedor-fluid {
    background-color: #343a40;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;

  .row {
    .col-left {
      padding: 0;
      img {

      }

    }
    .col-right {
      border: white 1px solid;
      padding: 2.5%;

      h2 {

      }
      p {
        text-align: justify;

      }

    }

  }

}

@media (max-width: 760px) {

  .placeTime-contenedor-fluid {

  .row {
    .col-left {
      padding: 0 3px 0 3px;
      img {

      }

    }
    .col-right {
      padding: 5%;

      h2 {

      }
      p {


      }

    }

  }

}

}