.card-imagen {
  background-size: cover;
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* background-size: cover; */
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 200px;

}