@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


.divTelefonoApp {
  z-index: 9;

  a {
    i {
      display: flex;
      border-radius: 50%;
    }

  }

}


@media (max-width: 768px) {

  .divTelefonoApp {
    position: fixed;
    right: 5%;
    bottom: 8%;
    z-index: 9;

    a {
      i {
        font-size: 40px;
        display: flex;
      }

    }

  }


}

@media (max-width: 768px) and (orientation: landscape) {

  .divTelefonoApp {
    position: fixed;
    right: 5%;
    bottom: 8%;


    a {
      i {
        font-size: 30px;
      }

    }

  }

}

@media (min-width: 769px) {

  .divTelefonoApp {
    position: fixed;
    right: 2%;
    bottom: 8%;


    a {
      i {
        font-size: 80px;
      }

    }

  }


}


@media (min-width: 992px) {

  .divTelefonoApp {
    position: fixed;
    right: 6%;
    bottom: 8%;


    a {
      i {
        font-size: 60px;
      }
      i:hover {
        font-size: 80px;
      }

    }

  }



}