<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <ul>
    <li class="nav-item dropdown">
      <a href="#insurance-head-section" class="nav-link dropdown-toggle" data-toggle="dropdown">Insurance</a>
      <div class="dropdown-menu">
        <a href="" class="dropdown-item">New Patient</a>
        <a href="" class="dropdown-item">Established Patient</a>
        <a href="#response" class="dropdown-item" data-toggle="modal" data-target="#response">Responsibilities</a>
        <a href="" class="dropdown-item">link 4</a>
      </div>
    </li>
  </ul>

  <div class="modal" id="response">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <div class="d-flex w-100 justify-content-between">
            <h6>Responsibilities</h6>

          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


</body>
</html>